In [1]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

In [2]:
nba = Table.read_table('nba_salaries.csv').relabeled(3, 'SALARY')
nba

PLAYER           | POSITION | TEAM          | SALARY
Paul Millsap     | PF       | Atlanta Hawks | 18.6717
Al Horford       | C        | Atlanta Hawks | 12
Tiago Splitter   | C        | Atlanta Hawks | 9.75625
Jeff Teague      | PG       | Atlanta Hawks | 8
Kyle Korver      | SG       | Atlanta Hawks | 5.74648
Thabo Sefolosha  | SF       | Atlanta Hawks | 4
Mike Scott       | PF       | Atlanta Hawks | 3.33333
Kent Bazemore    | SF       | Atlanta Hawks | 2
Dennis Schroder  | PG       | Atlanta Hawks | 1.7634
Tim Hardaway Jr. | SG       | Atlanta Hawks | 1.30452
... (407 rows omitted)

In [3]:
nba.where(1, 'PG').where(3, are.above(15)).column(0)

array(['Derrick Rose', 'Kyrie Irving', 'Chris Paul', 'Russell Westbrook',
       'John Wall'], dtype='<U24')

In [9]:
nba.with_row(['Mike Scott', 'PF', 'Atlanta Hawks', 100])
nba.where('PLAYER', are.containing('Scott'))

PLAYER        | POSITION | TEAM            | SALARY
Mike Scott    | PF       | Atlanta Hawks   | 3.33333
Shannon Scott | PG       | Toronto Raptors | 0.525093

In [10]:
nba.with_rows([
    1])

SyntaxError: closing parenthesis ')' does not match opening parenthesis '[' (<ipython-input-10-f3311e26e39d>, line 1)

In [ ]:
nba.where('NAME', are.containing('Samo'))