# Final Exam Spring 2022

**Instructions**

The exam should be opened on Moodle at 8 am ET on Friday May 6 and closed at 10 pm ET on the same date. The time limit is 2 hours for the exam. Your solution must be turned in as an **ipynb** file on **Moodle** before it is closed. Late exams will only be accepted at the instructors discretion. If you miss the submission window you will need to email me the exam and explain what is the reason right after the exam. Answer each question using only one cell (you can have multiple lines of code in one cell). You may create a copy of this notebook and open additional cells for testing, but when you turn in the exam, please only have one cell per question. Partial credit will be given. It is easier to give partial credit if you comment your code to say what each line is doing, or trying to do. If you can't solve a problem fully, try solving part of it for partial credit.

**Do not import additional libraries. Use only the libraries already included below.**

The solutions should be displayed in the notebook. Each question requires only one thing to be displayed. You don't need to display any intermediate steps you may have taken.

Each question is worth the same number of points.

**It is an open book/notes exam, but you have to do it by yourself, no cooperation is allowed. Don't post or talk about the questions or your solution of the exam during the exam open window. Please DO NOT post questions of clarification to Piazza. Since not all students are taking the exam at the same time, this might create an unfair advantage.**

## 1. Setup
Run the two cells below to load the packages and data necessary for this exam.

The dataset `diamonds` contains data on 500 diamonds.  A row of table is a single diamond.

    carat = The weight of the diamond in carats
    color = a letter signifying the color of the diamond
    price = the price of the diamond in dollars

In [ ]:
from datascience import *
import numpy as np
import matplotlib
%matplotlib inline

In [ ]:
diamonds = Table.read_table("diamonds1.csv")
diamonds

carat | color | price
0.82  | D     | 3159
1     | E     | 6732
0.53  | F     | 1142
0.35  | E     | 767
1.01  | D     | 4004
0.54  | D     | 1662
0.3   | D     | 574
1.22  | G     | 8793
0.31  | G     | 931
1     | E     | 7528
... (490 rows omitted)

**Question 1:** Create a table that contains the average price of each ```color``` of diamond.  Column names for this table should be ```color``` and ``average_price``. Assign this table to q1

In [ ]:
q1 = ...
q1

**Question 2:** Create a table that contains only diamonds of color H, and price greater than 4000. Assign this table to q2.

In [ ]:
q2 = ...
q2

**Question 3:** Assume this is a random sample of diamond prices in the New York diamond market.  Calculate an 95% confidence interval for the population mean of all diamond prices in the New York diamond market.  

You should calculate this using the bootstrap with 1000 repeation.  Assign this confidence interval to q3.

In [ ]:
q3 = ...
q3

**Question 4:** Suppose the following array called `model_predictions` contains predictions of diamond prices from a model.  The first element of the model_predictions array corresponds to the first diamond in the data and so on.  

What is the residual of the first diamond in the data? Assign this value to q4.

In [ ]:
#run this cell, but do not change it!!
np.random.seed(1234)
model_predictions = np.random.rand(500)*2000

In [ ]:
#residual_of_first_diamond:
q4 = ...
q4

**Question 5:** continuos from question 4.

What is the root mean squared error of the model? Assign this value to q5.

In [ ]:
#rmse of the model:
q5 = ...
q5

**Question 6:** Consider only the diamond price and carat weight.  Build a regression model that predicts the price given the carat weight.  What is the predicted model price on a diamond with a weight of 2 carats?  

Your solution should be in the form of a function that takes a carat weight as an argument and outputs a predicted price. Assign this value to q6.

**Do NOT use the minimize function in your code**

In [ ]:
q6 = ...
q6

**Question 7:** Again consider only price and carat weight.  What is the distance between the first diamond in the dataset and the second diamond in the dataset. Assign this value to q7.

In [ ]:
q7 = ...
q7

**Question 8:** Again consider only price and carat weight.  Generate a table that contains the weight and price of the 5 nearest neighbors of the first row.
(including the first row itself in the table of the 5 nearest neighbors).
Assign this table to q8.

In [ ]:
q8 = ...
q8