In [ ]:
!pip install datascience

In [3]:
from datascience import *
import numpy as np
import matplotlib
%matplotlib inline

In [4]:
CPS85 = Table.read_table("CPS85.csv")
CPS85

wage     | educ |  white/hispanic  | sex  | south | married | exper | union | age  | sector
 $9.00   | 10   | W/NH             | M    | NS    | Married | 27    | Not   | 43   | const
 $5.50   | 12   | W/NH             | M    | NS    | Married | 20    | Not   | 38   | sales
 $3.80   | 12   | W/NH             | F    | NS    | Single  | 4     | Not   | 22   | sales
 $10.50  | 12   | W/NH             | F    | NS    | Married | 29    | Not   | 47   | clerical
 $15.00  | 12   | W/NH             | M    | NS    | Married | 40    | Union | 58   | const
 $9.00   | 16   | W/NH             | F    | NS    | Married | 27    | Not   | 49   | clerical
 $9.57   | 12   | W/NH             | F    | NS    | Married | 5     | Union | 23   | service
 $15.00  | 14   | W/NH             | M    | NS    | Single  | 22    | Not   | 42   | sales
 $11.00  | 8    | W/NH             | M    | NS    | Married | 42    | Not   | 56   | manuf
 $5.00   | 12   | W/NH             | F    | NS    | Married | 14    | Not   | 32   | sales
... (524 rows omitted)

In [1]:
#Write a function that will return the highest wage in the table

In [5]:
#Create a colum that says "over 50" or "50 and under" that correctly relates this to a person's age

In [7]:
#create a table of the average wage by sector

In [8]:
#take a sample of size 15 and calculate the mean wage.  Then do this 100 times and create a sampling distribution?
#of that statistic.