In [4]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Lecture 6, Challenge ##

In [5]:
nba = Table.read_table('nba_salaries.csv').relabeled(3, 'SALARY')
nba

PLAYER           | POSITION | TEAM          | SALARY
Paul Millsap     | PF       | Atlanta Hawks | 18.6717
Al Horford       | C        | Atlanta Hawks | 12
Tiago Splitter   | C        | Atlanta Hawks | 9.75625
Jeff Teague      | PG       | Atlanta Hawks | 8
Kyle Korver      | SG       | Atlanta Hawks | 5.74648
Thabo Sefolosha  | SF       | Atlanta Hawks | 4
Mike Scott       | PF       | Atlanta Hawks | 3.33333
Kent Bazemore    | SF       | Atlanta Hawks | 2
Dennis Schroder  | PG       | Atlanta Hawks | 1.7634
Tim Hardaway Jr. | SG       | Atlanta Hawks | 1.30452
... (407 rows omitted)

In [6]:
# total salary paid by each team, highest first

nba.select('TEAM', 'SALARY').group('TEAM', sum).sort(1, descending=True)

TEAM                  | SALARY sum
Cleveland Cavaliers   | 102.312
Oklahoma City Thunder | 96.8322
Golden State Warriors | 94.0851
Memphis Grizzlies     | 93.7964
Washington Wizards    | 90.0475
Houston Rockets       | 85.2858
San Antonio Spurs     | 84.6521
Charlotte Hornets     | 84.1024
Miami Heat            | 81.5287
New Orleans Pelicans  | 80.5146
... (20 rows omitted)