In [1]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Functions ##

In [ ]:
def double(x):
    """ Double x """
    return 2*x

In [ ]:
double(6)

In [ ]:
double(10/4)

In [ ]:
z = 10
double(z/4)

In [ ]:
x #notice x is only defined within the function

In [ ]:
x = 17
double(x)

In [ ]:
x

In [ ]:
double(300)

In [ ]:
counts = make_array(1, 2, 3)
total = counts.sum()
np.round((counts/total)*100, 2)

In [ ]:
def percents(counts):
    """Convert the counts to percents out of the total."""
    total = counts.sum()
    return np.round((counts/total)*100, 2)

In [ ]:
percents(make_array(2, 4, 8, 6))

In [ ]:
def percents(counts, decimal_places=2, extra=0):
    """Convert the counts to percents out of the total + extra."""
    total = counts.sum() + extra
    return np.round((counts/total)*100, decimal_places)

In [ ]:
parts = make_array(2, 1, 4)

percents(parts, decimal_places=4, extra=6)

In [ ]:
percents(parts, extra=6)

## Apply ##

In [ ]:
def cut_off_at_100(y):
    return min(y, 100)

In [ ]:
ages = Table().with_columns(
    'Person', make_array('A', 'B', 'C', 'D'),
    'Age', make_array(63, 110, 99, 102)
)

In [ ]:
ages

In [ ]:
ages.apply(cut_off_at_100, 'Age')

In [ ]:
ages.with_column('Cut Off Age', ages.apply(cut_off_at_100, 'Age'))

In [ ]:
type(cut_off_at_100)

In [ ]:
cut_off_at_100

In [ ]:
ages.with_column('Cut 0ff Age', ages.apply(cut_off_at_100, 'Age'))

## Prediction ##

In [2]:
heights = Table.read_table("galton.csv")
heights

family | father | mother | midparentHeight | children | childNum | gender | childHeight
1      | 78.5   | 67     | 75.43           | 4        | 1        | male   | 73.2
1      | 78.5   | 67     | 75.43           | 4        | 2        | female | 69.2
1      | 78.5   | 67     | 75.43           | 4        | 3        | female | 69
1      | 78.5   | 67     | 75.43           | 4        | 4        | female | 69
2      | 75.5   | 66.5   | 73.66           | 4        | 1        | male   | 73.5
2      | 75.5   | 66.5   | 73.66           | 4        | 2        | male   | 72.5
2      | 75.5   | 66.5   | 73.66           | 4        | 3        | female | 65.5
2      | 75.5   | 66.5   | 73.66           | 4        | 4        | female | 65.5
3      | 75     | 64     | 72.06           | 2        | 1        | male   | 71
3      | 75     | 64     | 72.06           | 2        | 2        | female | 68
... (924 rows omitted)

In [ ]:
heights.scatter('midparentHeightHeight', 'childHeightHeight')

In [ ]:
heights.scatter('midparentHeightHeight', 'childHeightHeight')
plots.plot([67.5, 67.5], [50, 85], color='red', lw=2)
plots.plot([68.5, 68.5], [50, 85], color='red', lw=2);

In [ ]:
heights.where('midparentHeight', are.between(67.5, 68.5)).column('childHeight').mean()

In [ ]:
heights.scatter('midparentHeight', 'childHeight')
plots.plot([67.5, 67.5], [50, 85], color='red', lw=2)
plots.plot([68.5, 68.5], [50, 85], color='red', lw=2)
plots.scatter(68, 66.24, color='gold', s=50);

In [ ]:
def predict_childHeight(h):
    close = heights.where('midparentHeight', are.between(h-0.5, h+0.5))
    return close.column('childHeight').mean()

In [ ]:
predict_childHeight(68)

In [ ]:
predict_childHeight(65)

In [ ]:
predictions = heights.apply(predict_childHeight, 'midparentHeight')

In [ ]:
heights = heights.with_column('childHeight Prediction', predictions)

In [ ]:
heights

In [ ]:
#Create a table that works well with Table.scatter
heights_chart = heights.select('midparentHeight', 'childHeight', 'childHeight Prediction')
#make the scatter plot
heights_chart.scatter('midparentHeight')

## Apply with Multiple Columns ##

In [3]:
heights

family | father | mother | midparentHeight | children | childNum | gender | childHeight
1      | 78.5   | 67     | 75.43           | 4        | 1        | male   | 73.2
1      | 78.5   | 67     | 75.43           | 4        | 2        | female | 69.2
1      | 78.5   | 67     | 75.43           | 4        | 3        | female | 69
1      | 78.5   | 67     | 75.43           | 4        | 4        | female | 69
2      | 75.5   | 66.5   | 73.66           | 4        | 1        | male   | 73.5
2      | 75.5   | 66.5   | 73.66           | 4        | 2        | male   | 72.5
2      | 75.5   | 66.5   | 73.66           | 4        | 3        | female | 65.5
2      | 75.5   | 66.5   | 73.66           | 4        | 4        | female | 65.5
3      | 75     | 64     | 72.06           | 2        | 1        | male   | 71
3      | 75     | 64     | 72.06           | 2        | 2        | female | 68
... (924 rows omitted)

In [19]:
def difference(x, y):
    return x-y

In [20]:
difference(4,5)

-1

In [21]:
# difference between each woman's height and her mother's

def difference(x, y):
    return x-y

heights.where('gender', 'female').apply(difference, 'childHeight', 'mother')
#How could we add this as a column to the table?

array([ 2.2,  2. ,  2. , -1. , -1. ,  4. ,  3. ,  0.5, -1. ,  8. ,  4. ,
        4. ,  1.5,  2.5, -4. ,  4. ,  1.5, -0.5,  0. ,  0. ,  6. ,  5. ,
        5. ,  4. ,  1.5,  1. ,  4. , -5. ,  0.2,  3.7,  1.5, -0.5, -1.5,
        2. , -2.2,  2. ,  0.5,  0. , -0.3,  1. ,  0. , -0.5, -1. , -3. ,
        0.5,  0. ,  0. ,  1. ,  0.5,  0. ,  0. ,  0. ,  2. , -1. ,  2. ,
        0. ,  0. ,  7.5,  7. ,  3.5,  0. ,  4. ,  3.7,  3.2,  2. ,  4. ,
        3. ,  3. ,  5.5,  1.5,  6. ,  4.7, -2. ,  0. ,  1. ,  1. ,  0.5,
        0. , -1.5, -3. ,  1. ,  0. ,  0.5, -0.5, -0.3, -3. ,  4. ,  4. ,
        3.5,  2.5,  2.5,  2. ,  1.5,  1. ,  2.5,  1.5,  0. ,  0. , -2.5,
       -2.5,  4.5,  1.5,  2.5,  1.5,  0. ,  2. ,  2. ,  1. ,  0. ,  0. ,
        0.5,  2.5,  0.5, -0.5,  2.5, -2. ,  1.5,  1.5,  1.5,  0. ,  2.5,
        2. ,  1. ,  0. , -1. , -3. , -5. , -7. , -1. , -3. , -7. ,  0.5,
        2.7,  0.7,  0. , -0.5, -0.5, -2.3, -2.8,  3. ,  0. , -3.5, -4. ,
       -4. , -0.5, -2. , -3. , -0.5, -2.5, -2.5,  2. ,  0. ,  0. , -2. ,
        4. ,  2. ,  0.7, -3. ,  0. ,  1.8,  0.8,  0. , -0.2,  3. ,  1.5,
       -1.7, -3. , -4.1,  1.5,  1. , -4.5,  1. ,  0. , -2. ,  5. ,  1. ,
        0. ,  0. , -0.5, -1.2, -1.5, -2.7,  2.5,  0.5,  1.5,  1. ,  4. ,
        0. ,  0.7, -1. , -1. , -2. ,  3. ,  2. ,  1. ,  1.3,  0.8,  0.5,
       -2. ,  5. ,  3. ,  5. ,  5. ,  4.5,  8. ,  7. ,  5. , -2.5, -2.5,
       -3. , -3.5, -3.5, -4.5, -4.5, -3. , -0.5, -1. , -3.3, -3.5, -1. ,
       -3. , -3.5, -5.5, -2. , -2.5,  2. ,  1. , -0.5, -3.5, -3.5,  0.5,
       -0.5, -1.5,  0.5, -0.5, -0.5, -1. , -2. ,  0. , -1. , -1.5, -4. ,
        0.7,  0. , -0.8, -4.5,  1. , -0.5,  2. ,  4.5,  0.5,  3. , -1. ,
        1.5, -0.5, -1.5, -2.5,  0.2, -0.5,  0.5,  1. ,  3.2,  2.7,  2.5,
        1.5,  1.5,  0.5,  0. , -0.5,  1. ,  0. ,  0. , -0.5,  4. ,  4. ,
        2. ,  1. ,  2.5,  1. ,  1. ,  8. ,  2.5,  1.7,  0.5, -8.8,  0. ,
       -3.3, -1.5,  1. , -0.3, -4. ,  3. ,  1. , -3. , -3.5, -4. , -5. ,
       -1. , -1.5, -2. ,  1. ,  0. , -1. , -1. , -2. , -3. ,  1.5, -2. ,
       -1.5, -2.5,  2. ,  2. ,  1. ,  1. ,  1. ,  0. , -1. ,  3. , -1. ,
       -1.5,  2. ,  1.5,  1. ,  0. , -1. , -1. ,  1. ,  0.5, -2. ,  1. ,
       -0.3,  2.5,  2. ,  1. ,  1. ,  0. ,  0. ,  0. , -4. ,  0. ,  6. ,
        6. ,  3. ,  2. , -0.7, -2.7,  2. , -0.5, -4. ,  0.5,  0. , -0.5,
       -1.5,  0. ,  0. , -2.5, -2.5, -5.5, -3. , -3. , -1. , -1. , -2. ,
       -2. , -2. , -2. , -2. , -2.5, -3. ,  0. ,  0. ,  4. , -5. , -5. ,
       -5.5,  0. , -3. , -3. , -5. , -7. , -7. ,  1. ,  0.5, -0.5,  0. ,
       -1. , -4. , -5. , -2.5, -4.5, -4.5, -7.5,  0.5, -0.5,  1. , -1.5,
        2. ,  2. ,  0. ,  1. ,  0. ,  0. ,  0. ,  0. ,  0. ,  6. ,  5. ,
        4. ,  3. ,  2. ,  1. , -1. , -2. , -2. , -4. , -3. , -3. , -6. ,
       -1. , -5. ,  0. ,  0. , -3. , -3. , -4. , -6. ,  0. , -0.5, -4.5,
        0. ,  0. , -1.5, -3.5,  0. ,  0. ,  0.5,  2. ,  1.5,  0. , -2. ,
       -2. , -3. ,  3. ,  1. ,  0. ,  0. , -4. ,  0. ,  5. ,  0. , -4. ,
       -5. , -6. ])

## Function with Optional Arguments ##

In [28]:
def percents(s, places=2):
    return np.round(s/sum(s) * 100, places)

In [29]:
x = make_array(2, 5, 16)
percents(x)

array([ 8.7 , 21.74, 69.57])

In [ ]:
percents(x, 4)

## Grouping by Category ##

In [33]:
all_cones = Table.read_table('cones.csv')
all_cones

Flavor     | Color       | Price
strawberry | pink        | 3.55
chocolate  | light brown | 4.75
chocolate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25
bubblegum  | pink        | 4.75

In [34]:
cones = all_cones.drop('Color')
cones

Flavor     | Price
strawberry | 3.55
chocolate  | 4.75
chocolate  | 5.25
strawberry | 5.25
chocolate  | 5.25
bubblegum  | 4.75

In [35]:
cones.group('Flavor')

Flavor     | count
bubblegum  | 1
chocolate  | 3
strawberry | 2

In [36]:
cones.group('Flavor', list)

Flavor     | Price list
bubblegum  | [4.75]
chocolate  | [4.75, 5.25, 5.25]
strawberry | [3.55, 5.25]

In [37]:
cones.group('Flavor', len)

Flavor     | Price len
bubblegum  | 1
chocolate  | 3
strawberry | 2

In [38]:
cones.group('Flavor', min)

Flavor     | Price min
bubblegum  | 4.75
chocolate  | 4.75
strawberry | 3.55

In [39]:
min(cones.where('Flavor', 'chocolate').column('Price'))

4.75

In [40]:
cones.group('Flavor', np.average)

Flavor     | Price average
bubblegum  | 4.75
chocolate  | 5.08333
strawberry | 4.4

In [41]:
def spread(x):
    return max(x) - min(x)

In [42]:
cones.group('Flavor', spread)

Flavor     | Price spread
bubblegum  | 0
chocolate  | 0.5
strawberry | 1.7

In [43]:
all_cones

Flavor     | Color       | Price
strawberry | pink        | 3.55
chocolate  | light brown | 4.75
chocolate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25
bubblegum  | pink        | 4.75

In [44]:
all_cones.group(['Flavor', 'Color'])

Flavor     | Color       | count
bubblegum  | pink        | 1
chocolate  | dark brown  | 2
chocolate  | light brown | 1
strawberry | pink        | 2

In [ ]:
all_cones.group(['Flavor', 'Color'], np.average)

## Pivot Tables ##

In [45]:
all_cones

Flavor     | Color       | Price
strawberry | pink        | 3.55
chocolate  | light brown | 4.75
chocolate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25
bubblegum  | pink        | 4.75

In [46]:
all_cones.group(['Flavor', 'Color'])

Flavor     | Color       | count
bubblegum  | pink        | 1
chocolate  | dark brown  | 2
chocolate  | light brown | 1
strawberry | pink        | 2

In [47]:
all_cones.pivot('Flavor', 'Color')

Color       | bubblegum | chocolate | strawberry
dark brown  | 0         | 2         | 0
light brown | 0         | 1         | 0
pink        | 1         | 0         | 2

In [48]:
all_cones.pivot('Color', 'Flavor')

Flavor     | dark brown | light brown | pink
bubblegum  | 0          | 0           | 1
chocolate  | 2          | 1           | 0
strawberry | 0          | 0           | 2

In [49]:
all_cones.pivot('Color', 'Flavor', values = 'Price', collect = list)

Flavor     | dark brown   | light brown | pink
bubblegum  | None         | None        | [4.75]
chocolate  | [5.25, 5.25] | [4.75]      | None
strawberry | None         | None        | [3.55, 5.25]

## Examples ##

In [50]:
all_cones.pivot('Color', 'Flavor', values = 'Price', collect = np.average)

Flavor     | dark brown | light brown | pink
bubblegum  | 0          | 0           | 4.75
chocolate  | 5.25       | 4.75        | 0
strawberry | 0          | 0           | 4.4