In [2]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Joins ##

In [10]:
drinks = Table(['Drink', 'Cafe', 'Price'])

drinks

Drink    | Cafe   | Price
Milk Tea | Asha   | 5.5
Espresso | Strada | 1.75
Latte    | Strada | 3.25
Espresso | FSM    | 2

In [11]:
discounts = Table().with_columns(
    'Coupon % off', make_array(10, 25, 5),
    'Location', make_array('Asha', 'Strada', 'Asha')
)
discounts

Coupon % off | Location
10           | Asha
25           | Strada
5            | Asha

In [12]:
combined = drinks.join('Cafe', discounts, 'Location')
combined

Cafe   | Drink    | Price | Coupon % off
Asha   | Milk Tea | 5.5   | 10
Asha   | Milk Tea | 5.5   | 5
Strada | Espresso | 1.75  | 25
Strada | Latte    | 3.25  | 25

In [13]:
discounted_frac = 1 - combined.column('Coupon % off') / 100
combined.with_column(
    'Discounted Price', 
    combined.column('Price') * discounted_frac
)

Cafe   | Drink    | Price | Coupon % off | Discounted Price
Asha   | Milk Tea | 5.5   | 10           | 4.95
Asha   | Milk Tea | 5.5   | 5            | 5.225
Strada | Espresso | 1.75  | 25           | 1.3125
Strada | Latte    | 3.25  | 25           | 2.4375

In [14]:
drinks.join('Cafe', drinks, 'Cafe')

Cafe   | Drink    | Price | Drink_2  | Price_2
Asha   | Milk Tea | 5.5   | Milk Tea | 5.5
FSM    | Espresso | 2     | Espresso | 2
Strada | Espresso | 1.75  | Espresso | 1.75
Strada | Espresso | 1.75  | Latte    | 3.25
Strada | Latte    | 3.25  | Espresso | 1.75
Strada | Latte    | 3.25  | Latte    | 3.25